* {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

body {
  margin: 0;
  padding: 20px 0 0 30px;
  background-color: #dd795cff;
}

.task-list {
  padding-top: 30px;
  padding-bottom: 30px;
}

.task-link {
  transition: all 0.2s ease-in-out;
  font-size: 24px;
  text-decoration: none;
 
  display: block;
}

.task-link:hover {
  color: #d1d1d1;
}
