.touchtable {
  width: 3840px;
  height: 2160px;
  border-spacing: 0;
  border: 1px solid #000;
  table-layout: fixed;
  background-color: #fff;
  font-size: 0;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.token-placement {
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.token-vis {
  background-color: rgb(247, 26, 26);
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
